body {
  background-color: #000;
}

#countdown {
  position: absolute;
  top: 20%;
  width: 99%;
  font-family: helvetica;
  font-size: 70px;
  text-align: center;
  font-weight: lighter;
  color: goldenrod;
  text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;
}

#countdown-description {
  position: absolute;
  top: 50%;
  width: 99%;
  font-family: helvetica;
  font-size: 40px;
  text-align: center;
  font-weight: lighter;
  color: goldenrod;
  text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;
}
